[submodule "submodules/eigen"]
	path = submodules/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "submodules/opencl-headers"]
	path = submodules/opencl-headers
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git